body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:181px;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:82px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:181px;
  overflow:hidden;
}
#u1919_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:181px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1919_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:141px;
}
#u1920 {
  position:absolute;
  left:8px;
  top:30px;
  width:359px;
  height:140px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:62px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922 {
  position:absolute;
  left:290px;
  top:130px;
  width:70px;
  height:28px;
}
#u1922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u1924 {
  position:absolute;
  left:15px;
  top:40px;
  width:60px;
  height:28px;
}
#u1925 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u1926 {
  position:absolute;
  left:15px;
  top:90px;
  width:60px;
  height:28px;
  text-align:center;
}
#u1927 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u1928 {
  position:absolute;
  left:175px;
  top:40px;
  width:60px;
  height:28px;
  text-align:center;
}
#u1929 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1930 {
  position:absolute;
  left:75px;
  top:40px;
  width:90px;
  height:28px;
}
#u1930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1930_input:disabled {
  color:grayText;
}
#u1931 {
  position:absolute;
  left:75px;
  top:90px;
  width:285px;
  height:28px;
}
#u1931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1932 {
  position:absolute;
  left:235px;
  top:40px;
  width:125px;
  height:28px;
}
#u1932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1934 {
  position:absolute;
  left:5px;
  top:6px;
  width:18px;
  height:18px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1936 {
  position:absolute;
  left:28px;
  top:7px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u1938 {
  position:absolute;
  left:355px;
  top:7px;
  width:10px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
