body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2684 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:181px;
  overflow:hidden;
}
#u2684_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:181px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2684_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:181px;
}
#u2685 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
}
#u2686 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2687 {
  position:absolute;
  left:50px;
  top:60px;
  width:40px;
  height:28px;
  font-size:16px;
  text-align:center;
}
#u2688 {
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u2689 {
  position:absolute;
  left:100px;
  top:60px;
  width:120px;
  height:28px;
}
#u2689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2689_input:disabled {
  color:grayText;
}
#u2690 {
  position:absolute;
  left:170px;
  top:140px;
  width:100px;
  height:28px;
}
#u2690_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u2691 {
  position:absolute;
  left:260px;
  top:7px;
  width:10px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2692 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
