body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:181px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:180px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:82px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:181px;
  overflow:hidden;
}
#u1943_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:181px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1943_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:141px;
}
#u1944 {
  position:absolute;
  left:5px;
  top:30px;
  width:360px;
  height:140px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:62px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u1947 {
  position:absolute;
  left:175px;
  top:90px;
  width:50px;
  height:28px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u1949 {
  position:absolute;
  left:235px;
  top:90px;
  width:120px;
  height:28px;
}
#u1949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u1950 {
  position:absolute;
  left:15px;
  top:40px;
  width:50px;
  height:28px;
}
#u1951 {
  position:absolute;
  left:0px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u1952 {
  position:absolute;
  left:75px;
  top:40px;
  width:90px;
  height:28px;
}
#u1952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u1953 {
  position:absolute;
  left:15px;
  top:90px;
  width:50px;
  height:28px;
  text-align:center;
}
#u1954 {
  position:absolute;
  left:0px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u1955 {
  position:absolute;
  left:75px;
  top:90px;
  width:90px;
  height:28px;
}
#u1955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u1956 {
  position:absolute;
  left:175px;
  top:40px;
  width:50px;
  height:28px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u1958 {
  position:absolute;
  left:235px;
  top:40px;
  width:120px;
  height:28px;
}
#u1958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1959 {
  position:absolute;
  left:285px;
  top:130px;
  width:70px;
  height:28px;
}
#u1959_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1961 {
  position:absolute;
  left:5px;
  top:6px;
  width:18px;
  height:18px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u1963 {
  position:absolute;
  left:26px;
  top:8px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  white-space:nowrap;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u1965 {
  position:absolute;
  left:355px;
  top:7px;
  width:10px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
